<div class="container">
    <div class="row align-items-center">
        <div class="col-12">
            <div class="mt-1 mb-3 page-title">Books Admin</div>
            <div class="mt-3 page-sub-title">Books maintenance</div>
        </div>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
            </tr>
        </tbody>
    </table>
</div>