<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="mt-1 mb-3 page-title">Borrow</div>
			<div class="mt-3 page-sub-title">Borrow Books</div>
		</div>
	</div>
	<hr>

	<div class="row">
		<div class="col-6">
			<div class="row">
				<div class="col-6">
					<mat-form-field>
						<mat-label>Library Card Number</mat-label>
						<input matInput placeholder="AF0034667" value="">
					</mat-form-field>
				</div>
				<div class="col-auto">
					<button mat-flat-button color="primary" style="height: 48px; width: 120px;">Apply</button>
				</div>
			</div>
			<div class="ml-3 mr-3">
				<mat-card>
					<mat-card-header>
						<mat-card-subtitle>Dog Breed</mat-card-subtitle>
						<mat-card-title>Shiba Inu</mat-card-title>
					</mat-card-header>
					<mat-card-content>
						<p>This card has divider and indeterminate progress as footer</p>
						<p>test test test</p>
						<mat-divider></mat-divider>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>LIKE</button>
						<button mat-button>SHARE</button>
					</mat-card-actions>
					<mat-card-footer>

					</mat-card-footer>
				</mat-card>
			</div>

		</div>
		<div class="col-6">

		</div>
	</div>
</div>