/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.container {
	height: auto;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	background-color: rgb(255, 255, 255);
}

.separator {
	height: 10px;
	background-color: rgb(255, 255, 255);
}

.page-title {
	font-size: 32px;
	font-weight: bold;
}

.page-sub-title {
	font-size: 16px;
	color: rgb(155, 155, 155);
	text-transform: uppercase;
}

.label-secondary {
	font-size: 14px;
	color: rgb(100, 100, 100);
}

.mat-icon {
	vertical-align: middle;
}

.icon-secondary {
	color: rgb(100, 100, 100);
}

.aligned-with-icon {
	position: absolute;
	margin-top: 2px;
	margin-left: 5px; /* optional */
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
	background: #000;
	opacity: 0.75 !important;
}
